################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.bin/
x64/
massivk.csv
ro.csv
sera.csv